{% extends 'base.html' %}
{% load i18n %}

{% block head-content %}
{{ block.super }}
<style type="text/css">
	.container.calendar { flex-grow: 1 }
	.calendar .table { height: 100%; }
	.calendar .table thead tr{ height: 1rem; }
	.calendar .table td { width: 14.2857%; }
</style>
{% endblock head-content %}

{% block body-content %}
<div class="container tools">
	<div class="form-group text-right">
		<div class="btn-group" role="group">
			<a href="{% url 'calendar' previous_month.year previous_month.month %}" class="btn btn-outline-primary">
				« {% trans "Prev" %}
			</a>
			<a href="{% url 'calendar' %}" class="btn btn-outline-primary">
				{% trans "Current" %}
			</a>
			<a href="{% url 'calendar' next_month.year next_month.month %}" class="btn btn-outline-primary">
				{%trans "Next" %} »
			</a>
		</div>
	</div>
</div>
<div class="container calendar pb-3">
	<table class="table table-sm table-bordered mb-0">
		<thead>
			<tr class="font-weight-bold text-center">
				{% for calendar_day in weeks|first %}
				<td  >
					<span class="d-none d-sm-inline">{{ calendar_day.date|date:'l' }}</span>
					<span class="d-sm-none">{{ calendar_day.date|date:'D' }}</span>
				</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody class="small text-truncate">
			{% for week in weeks %}
			<tr>
				{% for calendar_day in week %}
				<td {% if calendar_day.date.month != current_month.month %}class="bg-light"{% endif %}>
					<p class="text-center{% if calendar_day.date == today %} font-weight-bold{% endif %}">{{ calendar_day.date|date:'j' }}</p>
					{% for event in calendar_day.events %}
					<div class="bg-primary text-white px-2 rounded{% if not forloop.last %} mb-1{% endif %}">{{ event.calendar_text }}</div>
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body-content %}