{% extends 'base.html' %}
{% load i18n bootstrap4 %}
{% block main %}
<main class="container my-auto">
	<div class="row">
		<div class="col-lg-3 offset-lg-1">
			<div class="card">
			  <div class="card-header">
			  	{% now "Y" as current_year %}
			    {% blocktrans %}Your {{ current_year }} leaves{% endblocktrans %}
			  </div>
			  <ul class="list-group list-group-flush">
			  	{% for leave_limit in user.staffprofile.department.leave_limits.all %}
			  	<li class="list-group-item">
			  		<p><strong>{{ leave_limit.type }}</strong></p>
			  		<ul class="small list-unstyled">
			  			<li>
			  				📅
				  			{% blocktrans count days=leave_limit.days with type=leave_limit.type %}
				  			{{ days }} day per year
				  			{% plural %}
				  			{{ days }} days per year
				  			{% endblocktrans %}
			  			</li>
			  			<li>
			  				✅
				  			{% blocktrans count days=3 %}
				  			{{ days }} approved
				  			{% plural %}
				  			{{ days }} approved
				  			{% endblocktrans %}
			  			</li>
			  			<li>
			  				💬
				  			{% blocktrans count days=2 %}
				  			{{ days }} pending approval
				  			{% plural %}
				  			{{ days }} pending approval
				  			{% endblocktrans %}
			  			</li>
			  			<li>
			  				⭐
				  			{% blocktrans count days=6 %}
				  			{{ days }} available
				  			{% plural %}
				  			{{ days }} available
				  			{% endblocktrans %}
			  			</li>
			  		</ul>
			  	</li>
			  	{% endfor %}
			  </ul>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Vacations request" %}</h1>
				<form method="POST" action="{% url 'holidays:request-leave' %}">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% bootstrap_button _("✔️ Send request") button_type="submit" button_class="btn-primary" %}
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock main %}