{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block main %}
<main class="container my-auto">
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<div class="jumbotron">
				<h1 class="text-center">{% trans "Log in" %}</h1>
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}">
					{% bootstrap_form form %}
					<small class="form-text text-muted">
					  <a href="{% url 'password_reset' %}">{% trans "Recover password" %}</a>
					</small>
					<div class="text-right">
						{% bootstrap_button _("Send") button_type="submit" button_class="btn-primary" %}
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock main %}