{% extends 'base.html' %}
{% load i18n bootstrap4 %}

{% block head-content %}
{{ block.super }}
<style type="text/css">
	.calendar .table thead tr{ height: 1rem }
	.calendar .table td { width: 14.2857% }
</style>
{% endblock head-content %}

{% block main %}
<main class="container calendar flex-grow-1 d-flex flex-column">
	<form id="calendar-filter-form" action="{% url 'staff:calendar' current_month.year current_month.month %}" method="GET">
		<div class="form-inline mb-2 mt-1">
			{% bootstrap_field form.location show_label=False bound_css_class='' size='small' %}
			{% bootstrap_field form.department show_label=False bound_css_class='' field_class='ml-2' size='small' %}
			<div class="btn-group ml-2 bg-white" role="group">
				<a href="{% url 'staff:calendar' previous_month.year previous_month.month %}?{{ request.GET.urlencode }}" class="btn btn-outline-primary btn-sm">
					« {% trans "Prev" %}
				</a>
				<a href="{% url 'staff:calendar' %}?{{ request.GET.urlencode }}" class="btn btn-outline-primary btn-sm">
					{% trans "Current" %}
				</a>
				<a href="{% url 'staff:calendar' next_month.year next_month.month %}?{{ request.GET.urlencode }}" class="btn btn-outline-primary btn-sm">
					{%trans "Next" %} »
				</a>
			</div>
		</div>
	</form>
	<div class="flex-grow-1 pb-3">
		<table class="table table-sm table-bordered bg-white h-100">
			<thead>
				<tr class="font-weight-bold text-center">
					{% for calendar_day in weeks|first %}
					<td>
						<span class="d-none d-sm-inline">{{ calendar_day.date|date:'l' }}</span>
						<span class="d-sm-none">{{ calendar_day.date|date:'D' }}</span>
					</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody class="small text-truncate">
				{% for week in weeks %}
				<tr>
					{% for calendar_day in week %}
					<td {% if calendar_day.date.month != current_month.month %}class="bg-light"{% endif %}>
						<p class="text-center mb-1{% if calendar_day.date == today %} font-weight-bold{% endif %}">
							{{ calendar_day.date|date:'j' }}
						</p>
						{% for event in calendar_day.events %}
						{% include event.calendar_template %}
						{% endfor %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>
{% endblock main %}

{% block body-content %}
{{ block.super }}
<script>
$(document).on('change', '#calendar-filter-form', function(){
	$(this).submit();
});
</script>
{% endblock body-content %}